#appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* height: 100%; */
  height: 95vh ;
  min-height: 95vh;
}

.nav-links {
  margin-right: 15px;
  margin-left: 15px;
  font-family: cursive;
  font-style: italic;
}

#title {
  font-family: cursive;
  font-size: 1.1rem;
}

.button:hover {
  cursor: pointer;
}






/* unused */
/* #messagePage{
  display: flex;
  flex-direction: row;
  align-items:center;
} */
/* 
#chat-page{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 100%;
} */

/* #msgBox-rooms {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction:row-reverse;
}

#rooms {
  background-color: rgb(154, 168, 168);
  width: 20%;
  padding: 2em;
} */

/* #roomItem {
  display: flex;
}



#join-room{
  background-color: rgb(154, 168, 168);
  width: 20%;
} */
/* 
#messageBox{
  width: 60%;
  height: 100%;
}

#room-title {
  margin: auto;
  padding-left: 4rem;
  font-size: x-large;
}

#msg-input {
  width: 100%;
  height: 2em;
} */

/* #message-container {
  background-color: rgb(206, 215, 211);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  overflow:auto;
} */
/* 
#msg-form {
  display: flex;
  justify-content:center;
}

 */


