
#appContainer {
   display: flex;
   justify-content: center;
}

#messageBox {
  /* background-color: aqua; */
}

/* 40514E */
#message-container {
  background-color: cadetblue;
  /* border: solid cadetblue;  */
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 500px;
  width: 600px;
  max-height: 500px;
  overflow:auto;
}

#msg-form {
  display: flex;
  justify-content:center;
}

.self-msg-div {
  display: flex;
  justify-content: flex-end; 
  padding-right: 5px;
}

.user-msg-div {
  display: flex;
}

.self-msg {
  background-color: aliceblue;
  margin-right: 20px;
  padding: 4px;
}

.user-msg {
  background-color:aquamarine;
  margin-left: 20px;
  padding: 4px;
}