#div-chat-room {
 display: flex;
 flex-direction: row;
 width: 100%;
 height: 100%;
}

#Nav-div {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(183, 212, 215);
    width: 100%;
}
