
.self-msg-div {
    display: flex;
    justify-content: flex-end; 
    padding-right: 5px;
  } 
  
  .user-msg-div {
    display: flex;
  }
  
  .self-msg {
    background-color: aquamarine;
    margin-right: 20px;
    padding: 15px;
    font-family:'Trebuchet MS';
    border-radius: 15px;
  }
  
  .user-msg {
    background-color:aliceblue;
    margin-left: 20px;
    padding: 15px;
    font-family:'Trebuchet MS';
    border-radius: 15px;
  }
  
  .room-msg-div{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .room-msg {
    background-color: white;
    font-size: 0.75rem;
    height: 100%;
  }
  