#form-msg-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 80%; */
    width: 100%;
    margin-left: 0.1%;
    margin-right: 0.1%;
}

#message-container {
    background-color: #dcdee3;
    width: 100%;
    overflow: auto;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 0.1%;
}

#message-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#msg-container-title {
    height: 2.5%;
    width: 100%;
    position:sticky;
    top: 0px;
    font-size: 1.5rem;
    padding: 0.9rem;
    background-color: #0097A7;
    /* background-color: black; */
    color: rgb(239, 242, 245);
    font-family: 'Times New Roman';
    display:flex ;
    align-items: center;
}

/* #b7a8c2 */