#rooms-container{
   background-color:  #E0F2F1;
   width: 15%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 20px;
}

#rooms-title-div {
    background-color:#0097A7;
    width: 100%;
    display: flex;
    justify-content: center;
}

#rooms-title {
    font-family:sans-serif;
}

.room-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roomItem {
    /* display: flex;
    width: 100%;    */
    display: flex;
    width: 100%;
    align-items: center;
    height: 3rem;
    background-color: #E0F2F1;
    flex-direction: column;
/* align-content: center; */
    justify-content: flex-start;
    border-bottom:groove;
    margin-top: 0.2rem;
}

/* need to change the sudo class to room_item */
.roomItem:hover {
    background-color:  #dcdee3;
}



.room-content {
    /* align-items: center;
    justify-content: center;
    background-color:  #B2DFDB;
    
    width: 80%; */
    /* border-radius: 10px; */
    /* height: 80%;
    padding-left: 35%;
    padding-top: 2%; */
    font-family: sans-serif;
} 

